h1 {
  margin-bottom: 0 !important;
}
a.button {
  margin-top: 2rem;
}
.prev-button {
  display: block;
  margin-top: 2rem;
}
.helper-text {
  font-size: 1rem;
  font-style: italic;
  margin: .5rem 0 .5rem 0;
}
.error{
  color: #cc3000;
  font-size: 1.5rem;
  font-style: italic;
}

.question {
  margin-top: 3rem;
}
